@keyframes moveFromAbove {
  0% {
    opacity: 0;
    transform: translateY(-5rem); }
  80% {
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box; }

::selection {
  background-color: #162447;
  color: #fff; }

.text-modifier {
  display: inline-block;
  color: #1f4068;
  text-transform: uppercase;
  transition: all .2s; }
  .text-modifier:hover {
    transform: rotate(6deg); }
  .text-modifier--white {
    color: #fff;
    margin-left: 2rem;
    display: inline-block;
    text-transform: uppercase;
    transition: all .2s; }
    .text-modifier--white:hover {
      transform: rotate(6deg); }

.paragraph:not(:last-child) {
  margin-bottom: 5rem; }

.project-title {
  font-size: 4.8rem;
  text-align: center;
  padding-top: 5rem;
  color: #e8eae6; }

.text-link {
  text-decoration: none; }
  .text-link:visited {
    color: #fff; }

.u-padding-top {
  padding-top: 20rem; }

.u-padding-bottom {
  padding-bottom: 10rem; }

.u-margin-top {
  margin-top: 7.5rem; }

.u-margin-left {
  margin-left: 10rem; }

.u-margin-bottom {
  margin-bottom: 10rem; }

.u-text-align-center {
  text-align: center; }

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin: 5rem 5rem;
  padding: 1.3rem 2.5rem;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff; }

.btn--nav:link,
.btn--nav:visited {
  text-decoration: none;
  display: inline-block;
  padding: 1.3rem 2.5rem;
  margin: 7rem 3rem;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 1.1rem;
  transition: all .2s;
  color: #162447; }

.info-btn {
  display: inline-block;
  font-size: 1.6rem; }
  .info-btn:link, .info-btn:visited {
    text-decoration: none; }

.navigation__nav {
  display: flex;
  justify-content: flex-end; }

.header {
  height: 95vh;
  background: linear-gradient(to right bottom, rgba(31, 64, 104, 0.8), rgba(22, 36, 71, 0.8)); }

.header-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 35rem;
  backface-visibility: hidden; }
  .header-box__heading {
    animation-name: moveFromAbove;
    animation-duration: 1s;
    animation-timing-function: linear;
    font-size: 5rem;
    font-weight: 700;
    color: #162447;
    text-transform: uppercase;
    letter-spacing: 1.1rem; }
    @media only screen and (max-width: 37.5em) {
      .header-box__heading {
        font-size: 2.5rem; } }
  .header-box__sub {
    animation: moveFromAbove 1s ease-in;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 2.5rem 0rem;
    text-align: center;
    color: #162447; }
    @media only screen and (max-width: 37.5em) {
      .header-box__sub {
        font-size: 2rem; } }
  .header-box__img {
    display: inline-block;
    border-radius: 100%;
    width: 5%;
    height: auto;
    margin: 2.5rem 0rem; }
    @media only screen and (max-width: 37.5em) {
      .header-box__img {
        width: 10%; } }
    @media only screen and (max-width: 56.25em) {
      .header-box__img {
        width: 10%; } }
  .header-box hr {
    width: 25%;
    margin: 0 auto;
    color: #1f4068; }

.footer {
  background-color: #1f4068;
  display: flex;
  justify-content: center;
  padding-top: 6rem;
  padding-bottom: 5rem; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      flex-direction: column;
      align-items: center; } }

.footer-box__quote {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff; }
  @media only screen and (max-width: 37.5em) {
    .footer-box__quote {
      font-size: 2rem;
      padding: 1rem 1rem; } }

.footer-box__copyright {
  font-size: 2.2rem;
  font-weight: 500;
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 2.5rem; }
  @media only screen and (max-width: 37.5em) {
    .footer-box__copyright {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 2rem; } }

.section-about {
  background-color: #e8eae6; }

.about {
  display: flex;
  justify-content: space-evenly; }
  @media only screen and (max-width: 56.25em) {
    .about {
      flex-direction: column;
      align-items: center; } }
  @media only screen and (max-width: 75em) {
    .about {
      flex-direction: column;
      align-items: center; } }
  .about__heading {
    font-size: 4.8rem;
    font-weight: 700;
    color: #162447; }
  .about__description {
    font-size: 2rem;
    font-weight: 500;
    width: 40%;
    color: #162447; }
    @media only screen and (max-width: 56.25em) {
      .about__description {
        margin-top: 6rem;
        width: 60%; } }
    @media only screen and (max-width: 75em) {
      .about__description {
        margin-top: 6rem;
        width: 60%; } }

.section-skills {
  display: flex;
  justify-content: space-evenly;
  background-color: #e8eae6; }
  @media only screen and (max-width: 56.25em) {
    .section-skills {
      flex-direction: column;
      align-items: center; } }
  .section-skills__title {
    font-size: 4.8rem;
    font-weight: 700;
    color: #162447; }
    @media only screen and (max-width: 56.25em) {
      .section-skills__title {
        margin-bottom: 3rem; } }

.skillset {
  max-width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  @media only screen and (max-width: 56.25em) {
    .skillset {
      max-width: 75%; } }
  .skillset__item {
    display: inline-block;
    font-size: 1.2rem;
    border: 1px solid #1b1b2f;
    border-radius: 10rem;
    margin: 2rem 1.8rem;
    padding: 1rem 4rem; }
    .skillset__item:hover {
      opacity: 0.75;
      background-color: transparent;
      border-color: #7c7877;
      cursor: pointer; }
  .skillset__icon {
    width: 1.8rem;
    height: 1.8rem;
    margin: auto right; }

.section-tech {
  background-color: #1b1b2f; }

.project-container {
  margin-top: 10rem; }

.featured-project {
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 56.25em) {
    .featured-project {
      flex-direction: column;
      align-items: center; } }
  @media only screen and (max-width: 75em) {
    .featured-project {
      flex-direction: column;
      align-items: center; } }
  .featured-project__img {
    width: 25%;
    height: 25%;
    border-radius: 3px; }
    @media only screen and (max-width: 56.25em) {
      .featured-project__img {
        margin-bottom: 5rem;
        width: 50%; } }
  .featured-project__title {
    font-size: 2.4rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 2.5rem; }
  .featured-project__box {
    width: 50rem;
    background-color: #162447;
    border-radius: 2px;
    padding: 1.2rem 3rem; }
    @media only screen and (max-width: 56.25em) {
      .featured-project__box {
        margin-top: 5rem;
        width: 40rem;
        margin-right: 8rem; } }
  .featured-project__description {
    font-size: 1.6rem;
    color: #e8eae6; }
  .featured-project__list {
    display: flex;
    list-style-type: none; }
  .featured-project__item {
    font-size: 1.6rem;
    color: #e8eae6;
    margin: 2.5rem 1rem; }

.second-project {
  margin-right: 8rem; }

.section-contact {
  background-color: #fff; }
  .section-contact hr {
    width: 40%;
    margin: 0 auto;
    margin-top: 4rem; }

.info {
  display: flex;
  justify-content: center;
  padding-top: 10rem; }
  @media only screen and (max-width: 56.25em) {
    .info {
      justify-content: center;
      flex-direction: column;
      align-items: center; } }
  .info__emailbox {
    display: flex;
    justify-content: center;
    margin-top: 5rem; }
  .info__emaillink {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500; }
    .info__emaillink:link, .info__emaillink:visited {
      text-decoration: none;
      color: #1f4068; }
  .info__heading {
    font-size: 3.6rem;
    font-weight: 700;
    color: #162447;
    margin-right: 5rem; }
    @media only screen and (max-width: 56.25em) {
      .info__heading {
        margin-bottom: 5rem; } }
  .info__paragraph {
    font-size: 2.4rem;
    width: 35%;
    margin-left: 5rem; }
    @media only screen and (max-width: 56.25em) {
      .info__paragraph {
        width: 50%; } }

.social-list {
  display: flex;
  justify-content: center;
  margin: 2.5rem 2rem;
  list-style-type: none; }
  @media only screen and (max-width: 56.25em) {
    .social-list {
      padding-left: 5rem; } }
  .social-list__item {
    font-size: 1.8rem;
    margin-right: 8.5rem;
    padding-bottom: 1.5rem; }
  .social-list__link {
    color: #162447;
    margin-right: 2rem; }
    .social-list__link:visited, .social-list__link:link {
      text-decoration: none; }
  .social-list__icon {
    width: 2.1rem;
    height: 2.1rem;
    margin-right: auto right; }
