.footer {
    background-color: $color-secondary;
    display: flex;
    justify-content: center;

    padding-top: 6rem;
    padding-bottom: 5rem;

    @include respond(phone) {
        flex-direction: column;
        align-items: center;
    }
}

.footer-box {

    &__quote {
        font-size: 2.5rem;
        font-weight: 700;
        color: $color-white;

        @include respond(phone) {
            font-size: 2rem;
        }
    }
    
    &__copyright {
        font-size: 2.2rem;
        font-weight: 500;
        color: $color-white;
        display: flex;
        justify-content: center;
        margin-top: 2.5rem;

        @include respond(phone) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
        }
    }
}