.btn {
    border: 1px solid $color-light-grey;
    border-radius: .5rem;
    
    &,
    &:link,
    &:visited {
        font-size: 1.8rem;
        padding: 1.5rem 3.2rem;
        text-align: center;
        display: inline-block;
        color: $color-light-grey;
        text-decoration: none;
    }

    &-projects {
        transition: all .2s ease-out;

        &:hover {
            transition: all .2s ease-in;
            background-color: transparent;
            opacity: 0.5;
        }
    }
}