.nav-container {
    max-width: 120rem;
    margin: 0 auto;
    padding-left: 3rem;
    padding-right: 3em;
}

.navbar {

    display: flex;
    justify-content: space-evenly;
    padding-top: 4rem;

    &__logo {
        font-size: 2.8rem !important;
        color: $color-white;
        flex-grow: 1;
    }
}

#contrast {
    width: 2.5rem;
    height: 2.5rem;
    color:$color-light-grey;
}

.nav-list {
    display: flex;
    align-self: center;
    list-style-type: none;

    &__item {
        margin-right: 3rem;
        cursor: pointer;

        @include respond(phone) {
            margin-right: 0;
            margin-bottom: 3rem;
        }

        &:last-child {
            margin-right: 0rem;
        }
    }

    @include respond(phone) {
        position: absolute;
        top: 15rem;
        left: 10%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        width: 100%;
        height: 100vh;
        background-color: $color-dark-grey;
        transform: translateX(150%);
        transition: transform 0.4s ease-in;
    }
}

.nav-active {
    transform: translateX(0);
}

.nav-link {
    font-size: 1.6rem;
    text-decoration: none;

    @include respond(phone) {
        font-size: 2.5rem;
    }

    &:link,
    &:visited {
        color: $color-white;
    }
}

.burger {
    align-self: center;
    cursor: pointer;
    display: none;

    @include respond(phone) {
        display: block;
    }
}

.burger > div {
    width: 2rem;
    height: .2rem;
    margin: .6rem;
    background-color: $color-white;
    transition: all .2s ease-in;
}

.toggle .line1 {
    transform: rotate(45deg) translate(0rem, 1.1rem);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(-45deg) translate(0rem, -1.1rem);
}