@keyframes drifting-up-down {

    0% {
        transform: translate(0, 0);
        animation-timing-function: ease-in-out;
    }

    50% {
        transform: translate(0, -.8rem);
        animation-timing-function: ease-in-out;
    }

    100% {
        transform: translate(0, 0);
        animation-timing-function: ease-in-out;
    }
}