.u-fadeIn {
    opacity: 0;
    transition: all 250ms ease-in;
}

.u-fade-in-appear {
    opacity: 1;
}

.u-bg-light {
    background-color: $color-light-grey !important;
}

.u-light-theme {
    color: $color-light-grey !important;
}

.u-dark-theme {
    color: $bg-color-primary !important;
}

.u-bg-dark {
    background-color: $bg-color-primary !important;
}