.section-about {
    background-color: $color-light-grey;
}

.about {

    display: flex;
    justify-content: space-evenly;

    @include respond(tab-port){
        flex-direction: column;
        align-items: center;
    }

    @include respond(tab-land) {
        flex-direction: column;
        align-items: center;
    }
    
    &__heading {
        font-size: 4.8rem;
        font-weight: 700;
        color: $color-primary;
    }

    &__description {
        font-size: 2rem;
        font-weight: 500;
        width: 40%;
        color: $color-primary;

        @include respond(tab-port) {
            margin-top: 6rem;
            width: 60%;
        }

        @include respond(tab-land){
            margin-top: 6rem;
            width: 60%;
        }
    }
}

.section-skills {
    background-color: $color-light-grey;

    &__title {
        font-size: 4.8rem;
        font-weight: 500;
        color: $color-primary;
    }
}

.skillset {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5rem 0rem;

    &__item {
        font-size: 1.2rem;
        border: 1px solid $color-dark-blue;
        border-radius: 10rem;
        margin: 2rem 1.8rem;
        padding: 1rem 4rem;
        
        &:hover {
            opacity: 0.75;
            background-color: transparent;
            border-color: #7c7877;
            cursor: pointer;
        }
    }

    &__icon {
        width: 1.8rem;
        height: 1.8rem;
        margin: auto right;
    }
}

.section-tech {
    background-color: $color-dark-blue;
}

.project-container {
    margin-top: 10rem;
}

.featured-project {
    display: flex;
    justify-content: center;

    &__img {

        &--1 {
            width: 25%;
            height: 25%;
            border-radius: 2px;
        }
    }

    &__title {
        font-size: 2.4rem;
        font-weight: 500;
        color: $color-white;
        margin-bottom: 2.5rem;
    }

    &__box {
        width: 50rem;
        background-color: $color-primary;
        border-radius: 2px;
        padding: 1.2rem 3rem;
    }

    &__description {
        font-size: 1.6rem;
        color: $color-light-grey;
    }

    &__list {
        display: flex;
        list-style-type: none;
    }

    &__item {
        font-size: 1.6rem;
        color: $color-light-grey;
        margin: 2.5rem 1rem;
    }
}

.section-contact {
    background-color: $color-white;

    hr {
         width: 40%;
         margin: 0 auto;
         margin-top: 4rem;
    }
}

.info {

    display: flex;
    justify-content: center;
    padding-top: 10rem;

    @include respond(tab-port){
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    &__emailbox {
        display: flex;
        justify-content: center;
        margin-top: 5rem;
    }

    &__emaillink {
        display: inline-block;
        font-size: 1.8rem;
        font-weight: 500;
        
        &:link,
        &:visited {
            text-decoration: none;
            color: $color-secondary;
        }
    }

    &__heading {
        font-size: 3.6rem;
        font-weight: 700;
        color: $color-primary;
        margin-right: 5rem;

        @include respond(tab-port){
            margin-bottom: 5rem;
        }
    }

    &__paragraph {
        font-size: 2.4rem;
        width: 35%;
        margin-left: 5rem;

        @include respond(tab-port) {
            width: 50%;
        }
    }
}

.social-list {
    display: flex;
    justify-content: center;
    margin: 2.5rem 2rem;

    @include removeListBullets;

    &__item {
        font-size: 1.8rem;
        margin-right: 8.5rem;
        padding-bottom: 1.5rem;
    }

    &__link {
        color: $color-primary;

        &:visited,
        &:link {
            text-decoration: none;
        }
    }

    &__icon {
        width: 2.1rem;
        height: 2.1rem;
        margin-right: 1rem;
    }
}